@model ProjetoOficinaWeb.Data.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Vehicles Details</h1>

<div>

    <dl class="row">
     <div class="col-md-8">
      <dl class="row"  
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
         <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
       </div>
<div class="col-md-4">
    
        <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
  
</div>

</div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
